{

"user": [
{
			"firstname": "luke","lastname": "skywalker","age": "23"
		},
		
{
			"firstname": "hans","lastname": "solo","age": "30"
		},
		
{
			"firstname": "lando","lastname": "calrissian","age": "37"
		}
	
	]

}




